* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fff7ec;
  color: #333;
}

.header {
  background: #ffe68c;
  text-align: center;
  padding: 40px 20px;

}

.header h1 {
  margin: 0;
  color: #8b4513;
}

.header p {
  margin-top: 10px;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 30px;
  background: #ffd7a8;
}

.menu a {
  text-decoration: none;
  color: #8b4513;
  padding: 15px 25px;
  font-weight: bold;
  transition: background 0.3s, transform 0.3s;
}

.menu a:hover {
  background: #8b4513;
  color: #fff;
  transform: scale(1.1);
}

.banner {
  height: 380px;
    background: url('deptrai.png')
    center/cover no-repeat;
  position: relative;
}

.banner-box {
  background: #ffffff;
  width: 320px;
  padding: 20px;
  border-radius: 12px;
  position: absolute;
  left: 60px;
  top: 120px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.banner-box h3 {
  margin-top: 0;
  color: #8b4513;
}

.about {
  padding: 60px 80px;
  text-align: center;
}

.about h2 {
  color: #8b4513;
}

.about p {
  max-width: 900px;
  margin: auto;
  line-height: 1.6;
}

.vision {
  padding: 60px 80px;
  text-align: center;
}

.vision h2 {
  color: #8b4513;
}

.vision ul {
  list-style: none;
  padding: 0;
  max-width: 600px;
  margin: 30px auto 0;
}

.vision li {
  margin: 15px 0;
  font-size: 16px;
}
